<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
	<title>Borger</title>
</head>

<body>
	{{{ body }}}
</body>

</html>